$prefix: 'hljs';

.#{$prefix} {
	color: hsl($base-hue, 10%, 70%);
}
.#{$prefix}-comment {
	color: hsl($base-hue, 7%, 45%);
}
.#{$prefix}-keyword {
	color: hsl(220, 30%, 60%);
}
.#{$prefix}-literal,
.#{$prefix}-number {
	color: hsl(250, 30%, 65%);
}
.#{$prefix}-string {
	color: hsl(200, 25%, 60%);
}
